{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="inner-banner">
<div class="container">
<div class="inner-title text-center">
<h3>404 Error Page</h3>
<ul>
<li>
<a href="index.html">Home</a>
</li>
<li>404 Error Page</li>
</ul>
</div>
</div>
</div>


<div class="error-area ptb-100">
<div class="d-table">
<div class="d-table-cell">
<div class="error-content">
<h1>4 <span>0</span> 4</h1>
<h3>Oops! Page Not Found</h3>
<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
<a href="index.html" class="default-btn">
Return To Home Page
</a>
</div>
</div>
</div>
</div>


<div class="employers-cv-area">
<div class="container">
<div class="employers-cv-bg">
<div class="row align-items-center">
<div class="col-lg-8">
<div class="employers-cv-content">
<h2>Let Employers Find You</h2>
<div class="bar"></div>
<p>Advertise your jobs to millions of monthly users and search 15.8 million CV in our database.</p>
</div>
</div>
<div class="col-lg-4">
<div class="employers-cv-btn">
<a href="/jobseeker/login">Upload Your CV</a>
</div>
</div>
</div>
</div>
</div>
</div>
</html>{% endblock %}