{% load static %}
{% block bottombar %}

<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

<script src="{% static 'assets/js/odometer.min.js' %}"></script>

<script src="{% static 'assets/js/jquery.appear.min.js' %}"></script>

<script src="{% static 'assets/js/meanmenu.min.js' %}"></script>

<script src="{% static 'assets/js/metismenu.min.js' %}"></script>

<script src="{% static 'assets/js/simplebar.min.js' %}"></script>

<script src="{% static 'assets/js/dropzone.min.js' %}"></script>

<script src="{% static 'assets/js/sticky-sidebar.min.js' %}"></script>

<script src="{% static 'assets/js/tweenMax.min.js' %}"></script>

<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'assets/js/animate.min.html' %}"></script>

<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

<script src="{% static 'assets/js/form-validator.min.js' %}"></script>

<script src="{% static 'assets/js/contact-form-script.js' %}"></script>

<script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>



{% endblock %}
