{% extends "base.html" %}


{% block content %}
{% load static %}

<div class="inner-banner">
<div class="container">
 <div class="inner-title text-center">
<h3>Company Details </h3>
<ul>
<li>
<a href="index.html">Home</a>
</li>
<li>Company Details </li>
</ul>
</div>
</div>
</div>


<div class="company-details-area pt-100 pb-70">
<div class="container">
<div class="row">
<div class="col-lg-8">
<div class="company-details-content">
<div class="company-details-preview mb-30">
<img src="assets/images/company/company-details-img1.jpg" alt="Images">
</div>
<div class="company-details-card box-shadow">
<img src="assets/images/recent-job/recent-job4.jpg" alt="Images">
<h3>Jaint Mart</h3>
<ul class="content-list">
<li><i class="ri-map-pin-line"></i> 305 Hicks St Brooklyn, NY</b></li>
<li><i class="ri-question-answer-line"></i> <a href="contact.html">Direct Message Us</a></li>
</ul>
</div>
<div class="content mb-30">
<h3>About Our Company</h3>
<div class="bar"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus.ands Pellentesque placerat maecenas egestas ullamcorper sed nunc. Vitae egestas tellus amet nulla something loss Pellentesque placerat maecenas egestas ullamcorper sed nunc.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus in that. Pellentesque placerat maecenas egestas ullamcorper sed sarinto.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius.</p>
</div>
<div class="content mb-30">
<h3>Overview</h3>
<div class="bar"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus.ands Pellentesque placerat maecenas egestas ullamcorper sed nunc. Vitae egestas tellus amet nulla something loss Pellentesque placerat maecenas egestas ullamcorper sed nunc.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus in that. Pellentesque placerat maecenas egestas ullamcorper sed sarinto.</p>
</div>
<div class="company-details-list">
<ul>
<li>You have at least 3 years’ experience working as a Product Designer.</li>
<li>You have experience using Sketch and InVision or Framer</li>
<li>You have some previous experience working in an agile environment – Think two-week sprints.</li>
 <li>You are familiar using Jira and Confluence in your workflow</li>
<li>Present your work to the wider business at Show & Tell sessions.</li>
<li>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor</li>
</ul>
</div>
<div class="content">
<h3>Our Achivment</h3>
<div class="bar"></div>
<div class="row justify-content-center">
<div class="col-lg-4 col-6 col-md-4">
<div class="counter-item">
<h3><span class="odometer" data-count="1400">0000</span></h3>
<p>Employees</p>
</div>
</div>
<div class="col-lg-4 col-6 col-md-4">
<div class="counter-item">
<h3><span class="odometer" data-count="113">000</span></h3>
<p> Award Totals</p>
</div>
</div>
<div class="col-lg-4 col-6 col-md-4">
<div class="counter-item">
<h3><span class="odometer" data-count="5">0</span>M</h3>
<p> Million Follower</p>
</div>
</div>
</div>
</div>
<div class="content mb-30">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus.ands Pellentesque placerat maecenas egestas ullamcorper sed nunc. Vitae egestas tellus amet nulla something loss Pellentesque placerat maecenas egestas ullamcorper sed nunc.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim a erat sit vulputate elementum orci. Risus nec viverra ornare venenatis proin ac varius tristique ut. Vitae egestas tellus amet nulla cursus in that. Pellentesque placerat maecenas egestas ullamcorper sed sarinto.</p>
</div>
<div class="article-social-icon">
<ul class="social-icon">
<li class="title">Share Post</li>
<li>
<a href="https://www.facebook.com/" target="_blank">
<i class="ri-facebook-fill"></i>
</a>
</li>
<li>
<a href="https://www.instagram.com/" target="_blank">
<i class="ri-instagram-fill"></i>
</a>
</li>
<li>
<a href="https://twitter.com/" target="_blank">
<i class="ri-twitter-fill"></i>
</a>
</li>
<li>
<a href="https://www.linkedin.com/" target="_blank">
<i class="ri-linkedin-fill"></i>
</a>
</li>
</ul>
</div>
<div class="company-details-portfolio">
<h3>Our Gallery</h3>
<div class="bar"></div>
<div class="row gallery-photo">
<div class="col-lg-3 col-6 col-md-3">
<div class="company-details-portfolio-img">
<a href="assets/images/blog/blog-details-img2.jpg">
<img src="assets/images/blog/blog-details-img2.jpg" alt="Images">
</a>
</div>
</div>
<div class="col-lg-3 col-6 col-md-3">
<div class="company-details-portfolio-img">
<a href="assets/images/blog/blog-details-img3.jpg">
<img src="assets/images/blog/blog-details-img3.jpg" alt="Images">
</a>
</div>
</div>
<div class="col-lg-3 col-6 col-md-3">
<div class="company-details-portfolio-img">
<a href="assets/images/blog/blog-details-img4.jpg">
<img src="assets/images/blog/blog-details-img4.jpg" alt="Images">
</a>
</div>
</div>
<div class="col-lg-3 col-6 col-md-3">
<div class="company-details-portfolio-img">
<a href="assets/images/blog/blog-details-img5.jpg">
<img src="assets/images/blog/blog-details-img5.jpg" alt="Images">
</a>
</div>
</div>
</div>
</div>
<h3>Video Into</h3>
<div class="bar"></div>
<div class="company-details-play">
<a href="https://www.youtube.com/watch?v=Zd00oIDAt60" class="play-btn">
<i class="ri-play-circle-line"></i>
</a>
</div>
<h3>Related Jobs</h3>
<div class="bar"></div>
<div class="col-lg-12">
<div class="recent-job-card box-shadow">
<div class="content">
<div class="recent-job-img">
<a href="job-details.html">
<img src="assets/images/recent-job/recent-job5.jpg" alt="Images">
</a>
</div>
<h3><a href="job-details.html">Creative Director</a></h3>
<ul class="job-list1">
<li><i class="ri-briefcase-line"></i> Automotive Jobs</li>
<li><i class="ri-time-line"></i> 2 Hour Ago</li>
 </ul>
<span><i class="ri-map-pin-line"></i> 105 San Antonio, TX</span>
</div>
<div class="job-sub-content">
<ul class="job-list2">
<li class="time">Full Time</li>
<li class="freelance">Freelance</li>
</ul>
<div class="price">$120 - $140 <b>/Per Week</b></div>
</div>
<button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
</div>
</div>
<div class="col-lg-12">
<div class="recent-job-card box-shadow">
<div class="content">
<div class="recent-job-img">
<a href="job-details.html">
<img src="assets/images/recent-job/recent-job6.jpg" alt="Images">
</a>
</div>
<h3><a href="job-details.html">General Ledger Accountant</a></h3>
<ul class="job-list1">
<li><i class="ri-briefcase-line"></i> Accounting & Finance</li>
<li><i class="ri-time-line"></i> 1 Day Ago</li>
</ul>
<span><i class="ri-map-pin-line"></i> 320 Los Angeles, CA</span>
</div>
<div class="job-sub-content">
<ul class="job-list2">
<li class="time">Full Time</li>
<li class="freelance">Freelance</li>
<li class="internship">Internship</li>
</ul>
<div class="price">$120 - $140 <b>/Per Week</b></div>
</div>
<button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="job-details-widget-side pl-20">
<div class="job-details-widget">
<h3 class="title">Company Overview</h3>
<div class="bar"></div>
<ul class="job-details-category">
<li>Categories: <span>Application</span></li>
<li>Established: <span>1986</span></li>
<li>Employees: <span>75</span></li>
<li>Location: <span>New York</span></li>
<li>Phone Number: <span>+44 7655 897987</span></li>
<li>Email: <span><a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="533a3d353c13293c31363d7d303c3e">[email&#160;protected]</a></span></li>
</ul>
<div class="job-details-social">
<span>Socials:</span>
<ul class="social-icon">
<li>
 <a href="https://www.facebook.com/" target="_blank">
<i class="ri-facebook-fill"></i>
</a>
</li>
<li>
<a href="https://www.instagram.com/" target="_blank">
<i class="ri-instagram-fill"></i>
</a>
</li>
<li>
<a href="https://twitter.com/" target="_blank">
<i class="ri-twitter-fill"></i>
</a>
</li>
<li>
<a href="https://www.linkedin.com/" target="_blank">
<i class="ri-linkedin-fill"></i>
</a>
</li>
</ul>
</div>
<div class="job-details-web-btn">
<a href="index.html" target="_blank">www.zobencontact.com</a>
</div>
</div>
<div class="job-details-widget">
<h3 class="title">Company Location</h3>
<div class="bar"></div>
<div class="job-details-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.3531005543196!2d-73.6960694852179!3d40.973748329498996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c290dc165bb96f%3A0x63af0a238a20fe90!2s5%20North%20St%2C%20Rye%2C%20NY%2010580%2C%20USA!5e0!3m2!1sen!2sbd!4v1625385308899!5m2!1sen!2sbd"></iframe>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="employers-cv-area">
<div class="container">
<div class="employers-cv-bg">
<div class="row align-items-center">
<div class="col-lg-8">
<div class="employers-cv-content">
<h2>Let Employers Find You</h2>
<div class="bar"></div>
<p>Advertise your jobs to millions of monthly users and search 15.8 million CV in our database.</p>
</div>
</div>
<div class="col-lg-4">
<div class="employers-cv-btn">
{% if request.session.jobseeker %}
    <a href="/LoginRegisterPopup">
     Upload Your CV
     </a>
 {% else %}
    <a href="/jobseeker/login">
     Upload Your CV
     </a>
 {% endif %}
</div>
</div>
</div>
</div>
</div>
</div>
</html>{% endblock %}