{% extends "base.html" %}

{% load static %}
{% block content %}

<div class="inner-banner">
<div class="container">
<div class="inner-title text-center">
<h3>Company Listing</h3>
<ul>
<li>
<a href="index.html">Home</a>
</li>
<li>Company Listing</li>
</ul>
</div>
</div>
</div>


<div class="company-area ptb-100">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-8">
<div class="section-title">
<h2>Top Company Registered</h2>
<div class="bar"></div>
<p>We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p>
</div>
</div>
<div class="col-lg-4">
<div class="browse-btn float-end">
<a href="company.html"> Browse All Categories <i class="ri-arrow-right-s-line"></i></a>
</div>
</div>
</div>
<div class="company-slider owl-carousel owl-theme  pt-45">
<div class="company-item">
<a href="company-details.html">
<img src="assets/images/company/company-img1.jpg" alt="Images">
</a>
<h3><a href="company-details.html">Code Agency</a></h3>
<p><i class="ri-map-pin-line"></i> St Brooklyn</p>
<a href="company-details.html" class="company-btn">Open Jobs - (03)</a>
</div>
<div class="company-item">
<a href="company-details.html">
<img src="assets/images/company/company-img2.jpg" alt="Images">
</a>
<h3><a href="company-details.html">Technology IT</a></h3>
<p><i class="ri-map-pin-line"></i> New York</p>
<a href="company-details.html" class="company-btn">Open Jobs - (20)</a>
</div>
<div class="company-item">
<a href="company-details.html">
<img src="assets/images/company/company-img3.jpg" alt="Images">
</a>
<h3><a href="company-details.html">Gradient House</a></h3>
<p><i class="ri-map-pin-line"></i> Dallas, TX</p>
<a href="company-details.html" class="company-btn">Open Jobs - (34)</a>
</div>
<div class="company-item">
<a href="company-details.html">
<img src="assets/images/company/company-img4.jpg" alt="Images">
</a>
<h3><a href="company-details.html">Product Designer</a></h3>
<p><i class="ri-map-pin-line"></i> Huston, TX</p>
<a href="company-details.html" class="company-btn">Open Jobs - (12)</a>
</div>
<div class="company-item">
<a href="company-details.html">
<img src="assets/images/company/company-img5.jpg" alt="Images">
</a>
<h3><a href="company-details.html">Group Marketing</a></h3>
<p><i class="ri-map-pin-line"></i> Atlanta, GA</p>
<a href="company-details.html" class="company-btn">Open Jobs - (18)</a>
</div>
</div>
</div>
</div>


 <div class="browse-jobs-list-area pt-100 pb-70">
<div class="container">
<div class="section-title text-center">
<h2>Browse Your Jobs Area</h2>
<div class="bar m-auto"></div>
<p class="m-auto">144 jobs live - 20 added today.</p>
</div>
<div class="row pt-45">
<div class="col-lg-3 col-sm-6">
<div class="browse-jobs-list">
<h3><i class="ri-survey-line jobs-list-icon1"></i> Popular Job Industry</h3>
<ul>
<li>
<a href="job-details.html" target="_blank">
Accounting Jobs
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Customer Service
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Healthcare Jobs
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Human Resources Jobs
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Construction Jobs
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Transportation Jobs
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Marketing Jobs
</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="browse-jobs-list">
<h3><i class="ri-briefcase-2-line jobs-list-icon2"></i> Popular Job Title</h3>
<ul>
<li>
<a href="job-details.html" target="_blank">
Administration Jobs
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Education Jobs
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Management
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Delivery Driver
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Doctor Assistant
</a>
</li>
 <li>
<a href="job-details.html" target="_blank">
Sales Manager
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Online Teaching
</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="browse-jobs-list">
<h3><i class="ri-map-pin-line jobs-list-icon3"></i> Jobs by Location</h3>
<ul>
<li>
<a href="job-details.html" target="_blank">
Las Vegas, NV
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
San Antonio, TX
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Atlanta, GA
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
NYC, NY
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Huston, TX
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Los Angeles, CA
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Dallas, TX
</a>
</li>
</ul>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="browse-jobs-list">
<h3><i class="ri-star-line jobs-list-icon4"></i> Popular Jobs</h3>
<ul>
<li>
<a href="job-details.html" target="_blank">
Contraction
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Personal Lawyer
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Financial Service
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Science
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
 Manufacturing
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
IT Engineer
</a>
</li>
<li>
<a href="job-details.html" target="_blank">
Cleaning
</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>


<div class="company-widget-area pb-70">
<div class="container">
<div class="section-title text-center">
<h2>Top List of Company</h2>
<div class="bar m-auto"></div>
<p class="m-auto">We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!</p>
</div>
<div class="row pt-45 justify-content-center">
<div class="col-lg-3 col-6">
<div class="company-card box-shadow">
<img src="assets/images/company/company-img3.jpg" alt="Images">
<h3><a href="company-details.html">Technology IT</a></h3>
<p><i class="ri-map-pin-line"></i> St Brooklyn</p>
<a href="company-details.html" class="company-btn">Open Jobs - (40)</a>
</div>
</div>
<div class="col-lg-3 col-6">
<div class="company-card box-shadow">
<img src="assets/images/company/company-img2.jpg" alt="Images">
<h3><a href="company-details.html">Code Agency</a></h3>
<p><i class="ri-map-pin-line"></i> New York</p>
<a href="company-details.html" class="company-btn">Open Jobs - (20)</a>
</div>
</div>
<div class="col-lg-3 col-6">
<div class="company-card box-shadow">
<img src="assets/images/company/company-img5.jpg" alt="Images">
<h3><a href="company-details.html">Gradient House</a></h3>
<p><i class="ri-map-pin-line"></i> Dallas, TX</p>
<a href="company-details.html" class="company-btn">Open Jobs - (45)</a>
</div>
</div>
<div class="col-lg-3 col-6">
<div class="company-card box-shadow">
<img src="assets/images/company/company-img4.jpg" alt="Images">
<h3><a href="company-details.html">99 Code</a></h3>
<p><i class="ri-map-pin-line"></i> Huston, TX</p>
<a href="company-details.html" class="company-btn">Open Jobs - (15)</a>
</div>
</div>
<div class="col-lg-3 col-6">
<div class="company-card box-shadow">
<img src="assets/images/company/company-img1.jpg" alt="Images">
<h3><a href="company-details.html">Theme Desk</a></h3>
<p><i class="ri-map-pin-line"></i> Atlanta, GA</p>
<a href="company-details.html" class="company-btn">Open Jobs - (45)</a>
</div>
</div>
<div class="col-lg-3 col-6">
 <div class="company-card box-shadow">
<img src="assets/images/company/company-img6.jpg" alt="Images">
<h3><a href="company-details.html">Nixon</a></h3>
<p><i class="ri-map-pin-line"></i> New York</p>
<a href="company-details.html" class="company-btn">Open Jobs - (40)</a>
</div>
</div>
<div class="col-lg-3 col-6">
<div class="company-card box-shadow">
<img src="assets/images/company/company-img7.jpg" alt="Images">
<h3><a href="company-details.html">Jaint Mart</a></h3>
<p><i class="ri-map-pin-line"></i> Dallas, TX</p>
<a href="company-details.html" class="company-btn">Open Jobs - (60)</a>
</div>
</div>
<div class="col-lg-3 col-6">
<div class="company-card box-shadow">
<img src="assets/images/company/company-img8.jpg" alt="Images">
<h3><a href="company-details.html">Silkom Tech</a></h3>
<p><i class="ri-map-pin-line"></i> St Brooklyn</p>
<a href="company-details.html" class="company-btn">Open Jobs - (20)</a>
</div>
</div>
<div class="col-lg-12 col-md-12 text-center">
<div class="pagination-area">
<a href="company.html" class="prev page-numbers">
<i class="ri-arrow-left-s-line"></i>
</a>
<span class="page-numbers current" aria-current="page">1</span>
<a href="company.html" class="page-numbers">2</a>
<a href="company.html" class="page-numbers">3</a>
<a href="company.html" class="next page-numbers">
<i class="ri-arrow-right-s-line"></i>
</a>
</div>
</div>
</div>
</div>
</div>


<div class="employers-cv-area">
<div class="container">
<div class="employers-cv-bg">
<div class="row align-items-center">
<div class="col-lg-8">
<div class="employers-cv-content">
<h2>Let Employers Find You</h2>
<div class="bar"></div>
<p>Advertise your jobs to millions of monthly users and search 15.8 million CV in our database.</p>
</div>
</div>
<div class="col-lg-4">
<div class="employers-cv-btn">
    {% if request.session.jobseeker %}
    <a href="/LoginRegisterPopup">
     Upload Your CV
     </a>
 {% else %}
    <a href="/jobseeker/login">
     Upload Your CV
     </a>
 {% endif %}
</div>
</div>
</div>
</div>
</div>
</div>
</html>{% endblock %}